*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

#board-container{
    background-color: brown;
    height: auto;
    width: 642px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(98, 198, 255);
}

h1, h2, h3{
    margin-bottom: 15px;
    color: #444;
}

.bg-01{
    height: 80px;
    width: 80px;
    background-color: #80cf6c;
    padding: 20px;
}
.bg-02{
    height: 80px;
    width: 80px;
    background-color: #ffe6a2;
    padding: 20px;
}
